* {
    margin: 0;
    padding: 0;
    font-family: Arial;
}
.fd {
    float:right;
    color: black;
    padding: 5px 10px;
    text-decoration: none;
    }
.btn {
       font-family: Google Sans,Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
       font-weight: 500;
       font-size: 14px;
       letter-spacing: 0.25px;
       line-height: 16px;
       margin-left: 10px;
       margin-right: 8px;
       min-width: 96px;
       padding: ppx 23px;
       text-align: center;
       vertical-align: middle;
       border-radius: 4px;
       box-sizing: border-box;
       background-color: #1a73e8;
       border: 1px solid transparent;
       padding:5px 10px;
       font:bold 18px Arial, Helvetica, sans-serif;
       border-radius: 7px;
       border:none
    }
.search-button{
        padding-right: 55%;
        border: none;
    }
.space {
        max-height: 100%;
        max-width: 100%;
        object-fit: contain;
        object-position: center bottom;
        width: auto;
    }    
.div1 {
 padding-top: 100px;
}    
.search {
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0,0,0,.87);
    word-wrap: break-word;
    outline: none;
    display: flex;
    flex: 100%;
    -webkit-tap-highlight-color: transparent;
    margin-top: -37px;
    height: 34px;
    font-size: 16px;
}
.search1 {
    text-align: center;
    padding: 20px;
    height: 160px;
}
.box {
    margin: auto;
    height: 39px;
    width: 560px;
    padding: 5px 8px 0 14px;
    border: 1px #c4adad98 solid;
    border-radius: 250px;
    vertical-align: auto;
    display: flex;
    background-color: #FFFFFF;
}
.search .keyboard {
    padding: 8px;
    height: 24px;
    width: 24px;
    cursor: pointer;
    margin-top: -4px;
    float: left;
}
.button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}
.footer {
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: #70757a;
    background-color: #F2F2F2;
}
.upper-footer {
    height: 17px;
    background-color: #F2F2F2;
    border-bottom: 1px solid  #DADCE0;
    padding: 15px 30px 15px 30px;
    font-size: 15px;
    color:  #70757A;
}
.container div {
    display: inline-block;
    display: block;
    padding: 15px;
    cursor: pointer;
}
.ftr {
    color: #70757a;
    text-decoration: none;
    border: none;
   padding-right: 3%;
}
.link {
    display: flex;
    flex-wrap: wrap;
    font-size: 14px;
    font-family: arial,sans-serif;
}
